.enlace {
    border: 0;
    padding: 0;
    background-color: transparent;
    color: blue;
    border-bottom: 1px solid blue;
    }

label {
    display: block;
    margin: .5em 0 0 0;
    }
.btn {
    display: block;
    margin: 1em 0;
    }

div {
    margin: .4em 0;
    }
div label {
    width: 25%;
    float: left;
    }
div input{
    width: 50%;
}
fieldset{
    display: inline-block;
    width: 45%;
}

div input:focus{
    border: 2px solid #f41eb7;
    background: #f3ddf0;
}