/* https://developer.mozilla.org/es/docs/Web/CSS/CSS_Selectors */

/* selector por clase */
.cabecera{
  background-color: lavender;
}
.cabecera img{
  width: 100px;
  border-radius: 100%;
}
.navPrincipal{
  background-color: olive;

}
.principal{
  background-color: pink;
}
.noticias{
  background-color: lavender;
}
.nota{
  background-color: olive;
}
.piePagina{
  background-color: pink;
}
/* selector por id */
#tituloPrincipal{
  display: block;
  width: auto;
  text-align: center;
  padding: 10px;
  border: 3px solid black;
  border-radius: 10px;
  margin: 10px;
}
/* selector Combinador de descendientes */
nav li{
 display: inline-block;
}
/* multiples selectores */
h2,h3,h4,h5{
  color: purple;
}

/* selector Combinador de hijo */
ul>li{
  list-style: none;
}
/* selector usando clases y etiquetas  */
.galeria img{
  width: 200px;
  height: auto;
}

.navPrincipal li{
  background-color: grey;
}

/* pseudoclases */
.navPrincipal li:hover{
  background-color: green;

}
/* pseudo elementos */
.exciting-text::after {
  content: " <- EXCITING!";
  color: green;
}

.boring-text::after {
  content: " <- BORING";
  color: red;
}

hr{
  width: 10%;
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 7px dotted red;
}
.nota img{
  width: auto;
  height: 300px;
}
