.cabecera{
  background-color: lavender;
}
.navPrincipal{
  background-color: olive;
}
.principal{
  background-color: pink;
}
.noticias{
  background-color: lavender;
}
.nota{
  background-color: olive;
}
.piePagina{
  background-color: pink;
}
