body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows:  auto;
    grid-template-areas:
    "cabecera cabecera cabecera cabecera"
    "principal principal principal publicidad "    
    "piePagina piePagina piePagina piePagina"
}
.cabecera{
    grid-area: cabecera;
    background-color: coral;
    padding: 1%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows:  auto;
    grid-template-areas:
    "logo logo . primNav primNav"

}

.pincipal{
    grid-area: principal;
    background-color: cornflowerblue;
    padding: 5px;
    border-radius: 10px;
}
.publicidad{
    grid-area: publicidad;
    background-color: darkcyan;
    padding: 5px;
    border-radius: 10px;
}
.piePagina{
    grid-area: piePagina;
    background-color: lightpink;
    padding: 5px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:  auto;
    grid-template-areas:
    "copyright secNav socialMedia"
    
}

.juegosCasuales{
    background-color: aquamarine;
    padding: 5px;
    border-radius: 10px;
}
.juegosExpert{
    background-color: rgb(0, 255, 238);
    padding: 5px;
    border-radius: 10px;
}
.pieMain{
    background-color: blueviolet;
    padding: 5px;
    border-radius: 10px;
    
}
.juego1{
    display: inline-block;
    background-color: greenyellow;
    padding: 5px;
    border-radius: 10px;
    width: 22%;
}
.juego2{
    display: inline-block;
    background-color:lawngreen;
    padding: 5px;
    border-radius: 10px;
    width: 22%;
}

.logo{
    grid-area: logo;
       
}

.logo img{
    width: 25%;
    border-radius:10%;
    display: inline-block;
}

.logo h1{
    border-radius:10%;
    display: inline-block;
    position: relative;
    bottom: 55px;
    padding-left: 20px;
}

.primNav{    
    grid-area: primNav;
    position: relative;
    top: 100px;
}

.primNav a{
    text-decoration: none;
}

.primNav li{
    display: inline-block;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    list-style: none; 
    background-color:beige;
    font-size: 1.5em;
    border-radius: 10px;
      
    
}
.publicidad iframe{
    border-radius: 5%;
}
.copyright{
    grid-area: copyright;
}
.secNav{
    grid-area: secNav;
}
.socialMedia{
    grid-area: socialMedia;

}



.piePagina div li{
    list-style: none;
    display: inline-block;
    padding-left: 10px;

}
.socialmediaicon{
    width: 50px;
}